
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-image: url("../Assets/alina-mertes-4-pose-04-physicalstrenght.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: 'Times New Roman';
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 30px;
}

.navigation{
    position: relative;
    left: 0;
    transform-origin: 200px;
    
}

.navigation button{
    font-size: 17px;
    border: none;
    background: none;
    position: relative;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
    display: flexbox;
    margin-right: 20px;
}

.navigation button::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    bottom: -6px;
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s;
}
.navigation button:hover::after{
    position: absolute;
    background: orange;
    transform-origin: left;
    transform: scale(1);
    transform-origin: left;
}

.home{
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 20px ;
    padding-right: 100px;
    background: transparent;
    width: 1000px;
    height: 600px;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    display: inline-block;
    transform: scale(0);
}

.home.active{
    transform: scale(1);
    transition: .5s;
}

.home h1{
    color: #fff;
    font-size: 40px;
}

.home p{
    color: #fff;
    font-size: 20px;
    font-family: Arial;
}

.home h2{
    padding-top: 50px;
    color: #fff;
    cursor: default;
}

.home input{
    text-align: left;
    
    border-radius: 20px;
    width: 300px;
    height: 100px;
}

.routine {
    position: absolute;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 100px;
    padding-top: 10px;
    padding-left: 50px;
    width: 1200px;
    height: 800px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(250, 250, 250, .5);
    display: inline-block;
    transform: scale(0);
}

.routine.active{
    transform: scale(1);
    transition: transform .5s;
}

.routine h2{
    position: relative;
    color: deepskyblue;
    font-family: 'Gill Sans';
    padding-bottom: 20px;
}

.routine .table{
    table-layout: fixed;
    width: 1100px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    padding-top: 20px;
}

.routine .table label{
    font-size: 20pxpx;
    color: #fff;
    display: flexbox;
    justify-content: center;
}

.create {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 100px;
    padding-top: 10px;
    padding-left: 50px;
    width: 800px;
    height: 600px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(7px);
    display: inline-block;
    transform: scale(0);
}

.create.active{
    transform: scale(1);
    transition: transform .5s;
}

.create h2{
    position: relative;
    color: deepskyblue;
    font-family: 'Gill Sans';
    padding-bottom: 20px;
    
}

.create .form{
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    display: flexbox;
    color: #fff;
}

.create .form input{
    display: flex;
    background-color: rgb(255, 255, 255, .5);
    content: 'enter here';
    width: 200px;
    border-bottom: 2px;
    border-top: none;
}

.create .form button{
    background: #fff;
    width: 40px;
    height: 20px;
    backdrop-filter: blur(50px);
    font-size: 15px;
    color: black;
}